/*
  Project name(项目名称)：CSS_flex_layout 
  File name(文件名): t5
  Author(作者）: mao
  Author QQ：1296193245
  GitHub：https://github.com/maomao124/
  Date(创建日期)： 2022/2/19 
  Time(创建时间)： 20:16
  Version(版本): 1.0
  Description(描述)： 无
 */

.flex {
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;
}

.flex div {
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
    border: 1px solid black;
}

.flex div:nth-child(1) {
    order: 5;
}

.flex div:nth-child(2) {
    order: 3;
}

.flex div:nth-child(3) {
    order: 1;
}

.flex div:nth-child(4) {
    order: 2;
}

.flex div:nth-child(5) {
    order: 4;
}
    